<div
  class="agent-container relative flex h-screen w-screen bg-slate-400"
  *ngIf="show_user_password === false"
>
  <div
    class="left w-[25%] h-screen border-r-[1px] border-solid border-black"
    *ngIf="ChatHistory | async; let cc"
  >
    <div class="h-1/2">
      <h3 class="">Your Bot Chat</h3>

      <div class="h-1/2" *ngFor="let c of cc">
        <thought-focus-chatting-bubble
          [name]="c.ChatSessions.chat_session_extra.name"
          (click)="ChatIdSubject.next(c.ChatSessions.chat_session_uniq_id)"
        ></thought-focus-chatting-bubble>
      </div>
    </div>
    <div class="WatchChat text-center h-1/2 border-t">
      <h3 class="">Active Bot Chat</h3>
      <div *ngFor="let c of ChatWatching | async">
        <thought-focus-chatting-bubble
          [name]="c.chat_session_extra.name"
          [callback_button]="true"
          (Callback)="AddChatt(c.chat_session_uniq_id)"
        ></thought-focus-chatting-bubble>
      </div>
      <!-- <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Chat Id</mat-label>
        <input matInput type="text" #name_input />
        <button
          *ngIf="name_input.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="name_input.value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="AddChatt(name_input.value); name_input.value = ''"
      >
        Add
      </button> -->
    </div>
  </div>

  <div class="right relative flex w-[75%] flex-col h-screen">
    <thought-focus-chatting [chatid]="ChatIdSubject"></thought-focus-chatting>
  </div>
</div>
<div
  class="w-screen h-screen flex flex-col justify-center items-center"
  *ngIf="show_user_password"
>
  <input
    class="border m-4 border-solid"
    placeholder="user_name"
    [(ngModel)]="user_name"
  />
  <input
    class="border m-4 border-solid"
    placeholder="passwor"
    [(ngModel)]="password"
  />
  <button
    (click)="Save()"
    class="w-16 border border-solid m-4 p-1 rounded-lg hover:bg-white hover:text-black text-white bg-black"
  >
    SAVE
  </button>
</div>
